apiVersion: v1
kind: Secret
metadata:
  name: bubbles-secrets
  namespace: ${component.bubbles.namespace}
  labels:
    provider: agilestacks.com
    project: ${component.bubbles.namespace}
data:
  bubbles-api-secret: ${component.bubbles.bubblesApiSecret/base64}
